/* colour schem 
Header / Footer = #393E41
Text = White
background = #BFB8B0
Sidebar =
Chart = 
*/


/* Page Position */
.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

/*header*/
.header-container { 
    height: 10%;
    border-bottom-style: solid;
    border-width: 1px;
    background-color: #393E41;
}
.header-title {
    position: relative;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/*side bar*/
.side-bar {
    position: absolute;
    border-right-style: solid;
    border-width: 1px;
    height: 94.5%;
    width: 20%;
}
.date-choice {
    position: relative;
    top: 10px;
}
.date-end {
    position: relative;
    margin-left: 22px;
    background-color: #F6F6F3;
}
.date-start {
    position: relative;
    margin-left: 15px;
    background-color: #F6F6F3;
}
.data-label {
    margin-left: 7px;
    font-size: 20px;
}
.metrix-choice {
    position: absolute;
    top: 16%;
    left: 8px;
    width: 93%;
}
/*body*/
.body-container{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    /* background-color: #F6F5F4; */
    background-color: #BFB8B0;
} 
.chart-container {
    position: relative;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    left: 10%;
    top: 3%;
    height: 89%;
    width: 75%;
    background-color: #F6F6F3;
  }
  .canvas-container {
      position: relative;
      top: 5%;
      height: 85%;
      width: 98%;
  }

/*chart choice*/
.chart-button {
    position: relative;
    width: 24%;
    top: 8%;
    left: 16px;
}

/*footer*/
.footer-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5%;
    text-align: center;
    border-top-style: solid;
    border-width: 1px;
    background-color: #393E41;
    color: white;
}